/* Desktop */
#root {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    font-size: 3vh;
    font-family: monospace;
    font-style: normal;
}

#output {
    width: 75%;
    height: 20vh;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.textbox {
    width: 100%;
    height: 50%;
    margin: 0.1% 0;
    padding: 0;
    background-color: whitesmoke;
    font-size: 3vh;
    display: block;
    border: 1px solid black;
    overflow-wrap: break-word;
    overflow-y: scroll;
    text-align: right;
    border-radius: 5px;
}

#keypad {
    width: 75%;
    margin: 1vw;
    display: inline-block;
    margin: 0 0;
}

.keypad-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.button {
    width: 100%;
    height: 7vh;
    font-size: 3vh;
}

/* Mobile */
@media (max-width: 900px) {

    #root {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    #output {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #keypad {
        width: 100%;
        display: inline-block;
    }

    .keypad-row {
        display: flexbox;
    }

    .button {
        width: 33.3333%;
        height: 7vh;
        font-size: 3vh;
    }
}